<section class="container-section">
   <div class="grid">
      <div class="col-12">
         <button (click)="logOut()">log Out</button>
      </div>
      <div class="col-12">
         <mat-icon
            aria-hidden="false" 
            aria-label="icon-title-activity" 
            fontIcon="local_activity"
            class="icon-aling-title"
         ></mat-icon>
         <h1 class="txt-aling-title">Activities</h1>
      </div>
      <div class="col-12" align="end">
         <button 
            mat-stroked-button 
            color="primary" 
            (click)="openDialog()"
            class="btn-add-activity"
         >
            <mat-icon 
               aria-hidden="false" 
               aria-label="icon-add-activity" 
               fontIcon="add_circle_outline" 
            ></mat-icon>
            <label class="btn-txt-add-activity">Add</label>
         </button>
      </div>
      <div class="col-12 container-table">
         <app-table #tableDiary (saveDelete)="deleteRecord($event)" (openEdit)="openEditRecord($event)"></app-table>
      </div>
   </div>
</section>