.container-login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, pink, purple);
    position: relative;
}

.container-form-login {
    background-color: #FFF;
    border-radius: 15px;
    margin: auto;
    position: absolute;
    width: 30%;
    top: 25%;
    left: 35%;
    padding: 30px;
}

.container-form-login h1 {
    text-align: center;
}

.content-button-login {
    text-align: center;
}