<section>
    <form class="example-form" [formGroup]="activityForm" (ngSubmit)="save()">
        <h1 mat-dialog-title>{{titleViewActivity}}</h1>
        <mat-dialog-content class="mat-typography">
            <div class="grid">
                <div class="col-6_sm-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" placeholder="Ex. Glendy">
                    </mat-form-field>
                </div>

                <div class="col-6_sm-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Priority</mat-label>
                        <mat-select formControlName="priority" required>
                            <mat-option disabled>Select option</mat-option>
                            <mat-option *ngFor="let priorityOpcion of priorities" [value]="priorityOpcion.value">
                                {{priorityOpcion.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-6_sm-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Statues</mat-label>
                        <mat-select formControlName="status" required>
                            <mat-option disabled>Select option</mat-option>
                            <mat-option *ngFor="let statusOption of statues" [value]="statusOption.name">
                                {{statusOption.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
    
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"
                            placeholder="Ex. Go to the supermarket..."></textarea>
                    </mat-form-field>
                </div>
    
                
    
                <!--<div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Time</mat-label>
                        <input matInput type="time" min="09:00" max="18:00" formControlName="time">
                     </mat-form-field>
                </div>
    
                <div>
                    <mat-checkbox class="example-full-width" appearance="fill" [checked]="this.otherPhone"
                        (change)="addOtherPhone()">
                        Another phone to send notification
                    </mat-checkbox>
                </div>
    
                <div *ngIf="otherPhone">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Phone number</mat-label>
                        <app-tel-input formControlName="tel"></app-tel-input>
                        <mat-icon matSuffix>
                            <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                                <path
                                    d="M795-120q-122 0-242.5-60T336-336q-96-96-156-216.5T120-795q0-19.286 12.857-32.143T165-840h140q13.611 0 24.306 9.5Q340-821 343-805l27 126q2 14-.5 25.5T359-634L259-533q56 93 125.5 162T542-254l95-98q10-11 23-15.5t26-1.5l119 26q15.312 3.375 25.156 15.188Q840-316 840-300v135q0 19.286-12.857 32.143T795-120ZM229-588l81-82-23-110H180q0 39 12 85.5T229-588Zm369 363q41 19 89 31t93 14v-107l-103-21-79 83ZM229-588Zm369 363Z" />
                            </svg>
                        </mat-icon>
                        <mat-hint>Include area code</mat-hint>
                    </mat-form-field>
                </div> -->
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button type="submit" mat-raised-button color="primary">
                <mat-icon
                    aria-hidden="false" 
                    aria-label="icon-save-information" 
                    fontIcon="save" 
                ></mat-icon>
                <label class="btn-registry-activity btn-txt-save-activity">Save</label></button>
            <button mat-raised-button color="warn" mat-dialog-close>
                <mat-icon
                    aria-hidden="false" 
                    aria-label="icon-cancel-information" 
                    fontIcon="highlight_off" 
                ></mat-icon>
                <label class="btn-registry-activity btn-txt-cancel-activity">Cancel</label></button>
        </mat-dialog-actions>
    </form>
</section>